<p>
  <strong>Title of the Page:</strong>
  <%= @employee.title %>
</p>

<p>
  <strong>Domain Name:</strong>
  <%= @employee.dname %>
</p>

<p>
  <strong>Registry Domain ID:</strong>
  <%= @employee.rid %>
</p>

<p>
  <strong>Creation Date of the domain:</strong>
  <%= @employee.cdate %>
</p>

<p>
  <strong>Updated Date of the domain:</strong>
  <%= @employee.udate %>
</p>

<br>

