<%= form_for :employees do |f| %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :Age %><br>
    <%= f.number_field :age %>
  </p>
 
  <p>
    <%= f.label :Department %><br>
    <%= f.text_field :dept %>
  </p>
 
  <p>
    <%= f.label :Joining_Date %><br>
    <%= f.date_field :date %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
